.page-footer__logo-wrapper {
    display: none;
}
.page-footer {
    background-color: #f1f1f1;
}
@media (min-width: $tablet-width) {
    .page-footer__logo-wrapper {
        display: block;
        padding: 54px 0;
        
    }
    .page-footer__wrapper {
        display: flex;
        justify-content: space-between;
    }
}