.page-footer__logo-wrapper {
    display: none;
}
.page-footer {
    background-color: #f1f1f1;
}
@media (min-width: $tablet-width) {
    .page-footer__logo-wrapper {
        display: block;
        padding: 54px 0;
        margin-right: auto;
    }
    .page-footer__wrapper {
        display: flex;
        
    }
   
    .page-footer__social {
        margin-right: 84px;
    }
}
@media (min-width: $desktop-width) {
    .page-footer__social {
        margin-right: 275px;
    }
}