.page-header__delivery {
    display: none;
}
.page-header__content-wrapper {
    position: relative;
}
.page-header {
    border-top: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
}
@media (min-width: $tablet-width) {
    .page-header {
        border-top: none;
    }
    .page-header__delivery {
        display: block; 
        position: absolute;
        top: 100px;
        right: 0; 
        z-index: 1;
    }
    
}
