.reviews__title {
  margin: 0;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  color: #000000; }

.reviews__item,
.reviews__text {
  margin: 0; }

.reviews__text {
  line-height: 30px; }

.reviews__autor-name {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  font-style: normal; }

.reviews__autor-email {
  font-size: 17px;
  line-height: 24px; }
